---
title: Past Projects
layout: default
bodyClass: "page-past_projects"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-10">
      <div class="team team-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">{{content}}</div>
        <div class="card-deck">
          {% for i in site.data.past-projects %}
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{{ i.image.url | relative_url }}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ i.title }}</h5>
              <p class="card-text">{{ i.description }}</p>
              
            </div>
            <div class="card-footer">
                <!-- linked to contact page for now -->
                <a href="/contact" class="btn btn-primary ">Read More</a>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
